<p style="text-align:center">
    <a href="https://skills.network" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo">
    </a>
</p>

<h1 align=center><font size = 5>Assignment: SQL Notebook for Peer Assignment</font></h1>

Estimated time needed: **60** minutes.

## Introduction
Using this Python notebook you will:

1.  Understand the Spacex DataSet
2.  Load the dataset  into the corresponding table in a Db2 database
3.  Execute SQL queries to answer assignment questions

## Overview of the DataSet

SpaceX has gained worldwide attention for a series of historic milestones. 

It is the only private company ever to return a spacecraft from low-earth orbit, which it first accomplished in December 2010.
SpaceX advertises Falcon 9 rocket launches on its website with a cost of 62 million dollars wheras other providers cost upward of 165 million dollars each, much of the savings is because Space X can reuse the first stage. 


Therefore if we can determine if the first stage will land, we can determine the cost of a launch. 

This information can be used if an alternate company wants to bid against SpaceX for a rocket launch.

This dataset includes a record for each payload carried during a SpaceX mission into outer space.

### Download the datasets

This assignment requires you to load the spacex dataset.

In many cases the dataset to be analyzed is available as a .CSV (comma separated values) file, perhaps on the internet. Click on the link below to download and save the dataset (.CSV file):

 <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv" target="_blank">Spacex DataSet</a>

In [1]:
!pip install sqlalchemy==1.3.9

Collecting sqlalchemy==1.3.9
  Downloading SQLAlchemy-1.3.9.tar.gz (6.0 MB)
     ---------------------------------------- 0.0/6.0 MB ? eta -:--:--
     - -------------------------------------- 0.3/6.0 MB ? eta -:--:--
     - -------------------------------------- 0.3/6.0 MB ? eta -:--:--
     --- ------------------------------------ 0.5/6.0 MB 578.7 kB/s eta 0:00:10
     --- ------------------------------------ 0.5/6.0 MB 578.7 kB/s eta 0:00:10
     --- ------------------------------------ 0.5/6.0 MB 578.7 kB/s eta 0:00:10
     --- ------------------------------------ 0.5/6.0 MB 578.7 kB/s eta 0:00:10
     --- ------------------------------------ 0.5/6.0 MB 578.7 kB/s eta 0:00:10
     --- ------------------------------------ 0.5/6.0 MB 578.7 kB/s eta 0:00:10
     --- ------------------------------------ 0.5/6.0 MB 578.7 kB/s eta 0:00:10
     ----- ---------------------------------- 0.8/6.0 MB 294.4 kB/s eta 0:00:18
     ----- ---------------------------------- 0.8/6.0 MB 294.4 kB/s eta 0:00:18
     ----- ---------------------------------- 0.8/6.0 MB 294.4 kB/s eta 0:00:18
     ----- ---------------------------------- 0.8/6.0 MB 294.4 kB/s eta 0:00:18
     ----- ---------------------------------- 0.8/6.0 MB 294.4 kB/s eta 0:00:18
     ------- -------------------------------- 1.0/6.0 MB 264.9 kB/s eta 0:00:19
     ------- -------------------------------- 1.0/6.0 MB 264.9 kB/s eta 0:00:19
     ------- -------------------------------- 1.0/6.0 MB 264.9 kB/s eta 0:00:19
     ------- -------------------------------- 1.0/6.0 MB 264.9 kB/s eta 0:00:19
     ------- -------------------------------- 1.0/6.0 MB 264.9 kB/s eta 0:00:19
     ------- -------------------------------- 1.0/6.0 MB 264.9 kB/s eta 0:00:19
     ------- -------------------------------- 1.0/6.0 MB 264.9 kB/s eta 0:00:19
     ------- -------------------------------- 1.0/6.0 MB 264.9 kB/s eta 0:00:19
     ------- -------------------------------- 1.0/6.0 MB 264.9 kB/s eta 0:00:19
     -------- ------------------------------- 1.3/6.0 MB 219.3 kB/s eta 0:00:22
     -------- ------------------------------- 1.3/6.0 MB 219.3 kB/s eta 0:00:22
     -------- ------------------------------- 1.3/6.0 MB 219.3 kB/s eta 0:00:22
     -------- ------------------------------- 1.3/6.0 MB 219.3 kB/s eta 0:00:22
     -------- ------------------------------- 1.3/6.0 MB 219.3 kB/s eta 0:00:22
     ---------- ----------------------------- 1.6/6.0 MB 223.7 kB/s eta 0:00:20
     ---------- ----------------------------- 1.6/6.0 MB 223.7 kB/s eta 0:00:20
     ---------- ----------------------------- 1.6/6.0 MB 223.7 kB/s eta 0:00:20
     ---------- ----------------------------- 1.6/6.0 MB 223.7 kB/s eta 0:00:20
     ---------- ----------------------------- 1.6/6.0 MB 223.7 kB/s eta 0:00:20
     ---------- ----------------------------- 1.6/6.0 MB 223.7 kB/s eta 0:00:20
     ------------ --------------------------- 1.8/6.0 MB 218.8 kB/s eta 0:00:19
     ------------ --------------------------- 1.8/6.0 MB 218.8 kB/s eta 0:00:19
     ------------ --------------------------- 1.8/6.0 MB 218.8 kB/s eta 0:00:19
     ------------ --------------------------- 1.8/6.0 MB 218.8 kB/s eta 0:00:19
     ------------ --------------------------- 1.8/6.0 MB 218.8 kB/s eta 0:00:19
     ------------ --------------------------- 1.8/6.0 MB 218.8 kB/s eta 0:00:19
     ------------ --------------------------- 1.8/6.0 MB 218.8 kB/s eta 0:00:19
     -------------- ------------------------- 2.1/6.0 MB 210.1 kB/s eta 0:00:19
     -------------- ------------------------- 2.1/6.0 MB 210.1 kB/s eta 0:00:19
     -------------- ------------------------- 2.1/6.0 MB 210.1 kB/s eta 0:00:19
     -------------- ------------------------- 2.1/6.0 MB 210.1 kB/s eta 0:00:19
     -------------- ------------------------- 2.1/6.0 MB 210.1 kB/s eta 0:00:19
     -------------- ------------------------- 2.1/6.0 MB 210.1 kB/s eta 0:00:19
     --------------- ------------------------ 2.4/6.0 MB 209.4 kB/s eta 0:00:18
     --------------- ------------------------ 2.4/6.0 MB 209.4 kB/s eta 0:00:18
     --------------- ------------------------ 2.4/6.0 MB 209.4 kB/s eta 0:00:18
     --------------- ------------------------ 2.4/6.0 MB 209.4 kB/s eta 0:00:18
     ----------------- ---------------------- 2.6/6.0 MB 216.6 kB/s eta 0:00:16
     ----------------- ---------------------- 2.6/6.0 MB 216.6 kB/s eta 0:00:16
     ----------------- ---------------------- 2.6/6.0 MB 216.6 kB/s eta 0:00:16
     ----------------- ---------------------- 2.6/6.0 MB 216.6 kB/s eta 0:00:16
     ----------------- ---------------------- 2.6/6.0 MB 216.6 kB/s eta 0:00:16
     ----------------- ---------------------- 2.6/6.0 MB 216.6 kB/s eta 0:00:16
     ----------------- ---------------------- 2.6/6.0 MB 216.6 kB/s eta 0:00:16
     ----------------- ---------------------- 2.6/6.0 MB 216.6 kB/s eta 0:00:16
     ----------------- ---------------------- 2.6/6.0 MB 216.6 kB/s eta 0:00:16
     ------------------- -------------------- 2.9/6.0 MB 206.4 kB/s eta 0:00:15
     ------------------- -------------------- 2.9/6.0 MB 206.4 kB/s eta 0:00:15
     ------------------- -------------------- 2.9/6.0 MB 206.4 kB/s eta 0:00:15
     ------------------- -------------------- 2.9/6.0 MB 206.4 kB/s eta 0:00:15
     ------------------- -------------------- 2.9/6.0 MB 206.4 kB/s eta 0:00:15
     ------------------- -------------------- 2.9/6.0 MB 206.4 kB/s eta 0:00:15
     --------------------- ------------------ 3.1/6.0 MB 205.5 kB/s eta 0:00:14
     --------------------- ------------------ 3.1/6.0 MB 205.5 kB/s eta 0:00:14
     --------------------- ------------------ 3.1/6.0 MB 205.5 kB/s eta 0:00:14
     --------------------- ------------------ 3.1/6.0 MB 205.5 kB/s eta 0:00:14
     --------------------- ------------------ 3.1/6.0 MB 205.5 kB/s eta 0:00:14
     ---------------------- ----------------- 3.4/6.0 MB 208.6 kB/s eta 0:00:13
     ---------------------- ----------------- 3.4/6.0 MB 208.6 kB/s eta 0:00:13
     ---------------------- ----------------- 3.4/6.0 MB 208.6 kB/s eta 0:00:13
     ---------------------- ----------------- 3.4/6.0 MB 208.6 kB/s eta 0:00:13
     ---------------------- ----------------- 3.4/6.0 MB 208.6 kB/s eta 0:00:13
     ---------------------- ----------------- 3.4/6.0 MB 208.6 kB/s eta 0:00:13
     ------------------------ --------------- 3.7/6.0 MB 206.0 kB/s eta 0:00:12
     ------------------------ --------------- 3.7/6.0 MB 206.0 kB/s eta 0:00:12
     ------------------------ --------------- 3.7/6.0 MB 206.0 kB/s eta 0:00:12
     ------------------------ --------------- 3.7/6.0 MB 206.0 kB/s eta 0:00:12
     -------------------------- ------------- 3.9/6.0 MB 211.0 kB/s eta 0:00:10
     -------------------------- ------------- 3.9/6.0 MB 211.0 kB/s eta 0:00:10
     -------------------------- ------------- 3.9/6.0 MB 211.0 kB/s eta 0:00:10
     -------------------------- ------------- 3.9/6.0 MB 211.0 kB/s eta 0:00:10
     -------------------------- ------------- 3.9/6.0 MB 211.0 kB/s eta 0:00:10
     ---------------------------- ----------- 4.2/6.0 MB 213.4 kB/s eta 0:00:09
     ---------------------------- ----------- 4.2/6.0 MB 213.4 kB/s eta 0:00:09
     ---------------------------- ----------- 4.2/6.0 MB 213.4 kB/s eta 0:00:09
     ---------------------------- ----------- 4.2/6.0 MB 213.4 kB/s eta 0:00:09
     ---------------------------- ----------- 4.2/6.0 MB 213.4 kB/s eta 0:00:09
     ---------------------------- ----------- 4.2/6.0 MB 213.4 kB/s eta 0:00:09
     ---------------------------- ----------- 4.2/6.0 MB 213.4 kB/s eta 0:00:09
     ----------------------------- ---------- 4.5/6.0 MB 209.7 kB/s eta 0:00:08
     ----------------------------- ---------- 4.5/6.0 MB 209.7 kB/s eta 0:00:08
     ----------------------------- ---------- 4.5/6.0 MB 209.7 kB/s eta 0:00:08
     ----------------------------- ---------- 4.5/6.0 MB 209.7 kB/s eta 0:00:08
     ----------------------------- ---------- 4.5/6.0 MB 209.7 kB/s eta 0:00:08
     ----------------------------- ---------- 4.5/6.0 MB 209.7 kB/s eta 0:00:08
     ----------------------------- ---------- 4.5/6.0 MB 209.7 kB/s eta 0:00:08
     ------------------------------- -------- 4.7/6.0 MB 208.5 kB/s eta 0:00:06
     ------------------------------- -------- 4.7/6.0 MB 208.5 kB/s eta 0:00:06
     ------------------------------- -------- 4.7/6.0 MB 208.5 kB/s eta 0:00:06
     ------------------------------- -------- 4.7/6.0 MB 208.5 kB/s eta 0:00:06
     --------------------------------- ------ 5.0/6.0 MB 211.2 kB/s eta 0:00:05
     --------------------------------- ------ 5.0/6.0 MB 211.2 kB/s eta 0:00:05
     --------------------------------- ------ 5.0/6.0 MB 211.2 kB/s eta 0:00:05
     --------------------------------- ------ 5.0/6.0 MB 211.2 kB/s eta 0:00:05
     --------------------------------- ------ 5.0/6.0 MB 211.2 kB/s eta 0:00:05
     --------------------------------- ------ 5.0/6.0 MB 211.2 kB/s eta 0:00:05
     --------------------------------- ------ 5.0/6.0 MB 211.2 kB/s eta 0:00:05
     ----------------------------------- ---- 5.2/6.0 MB 209.4 kB/s eta 0:00:04
     ----------------------------------- ---- 5.2/6.0 MB 209.4 kB/s eta 0:00:04
     ----------------------------------- ---- 5.2/6.0 MB 209.4 kB/s eta 0:00:04
     ----------------------------------- ---- 5.2/6.0 MB 209.4 kB/s eta 0:00:04
     ----------------------------------- ---- 5.2/6.0 MB 209.4 kB/s eta 0:00:04
     ----------------------------------- ---- 5.2/6.0 MB 209.4 kB/s eta 0:00:04
     ----------------------------------- ---- 5.2/6.0 MB 209.4 kB/s eta 0:00:04
     ------------------------------------ --- 5.5/6.0 MB 208.2 kB/s eta 0:00:03
     ------------------------------------ --- 5.5/6.0 MB 208.2 kB/s eta 0:00:03
     ------------------------------------ --- 5.5/6.0 MB 208.2 kB/s eta 0:00:03
     ------------------------------------ --- 5.5/6.0 MB 208.2 kB/s eta 0:00:03
     ------------------------------------ --- 5.5/6.0 MB 208.2 kB/s eta 0:00:03
     ------------------------------------ --- 5.5/6.0 MB 208.2 kB/s eta 0:00:03
     -------------------------------------- - 5.8/6.0 MB 207.5 kB/s eta 0:00:01
     -------------------------------------- - 5.8/6.0 MB 207.5 kB/s eta 0:00:01
     -------------------------------------- - 5.8/6.0 MB 207.5 kB/s eta 0:00:01
     -------------------------------------- - 5.8/6.0 MB 207.5 kB/s eta 0:00:01
     ---------------------------------------- 6.0/6.0 MB 207.8 kB/s eta 0:00:00
  Preparing metadata (setup.py): started
  Preparing metadata (setup.py): finished with status 'done'
Building wheels for collected packages: sqlalchemy
  Building wheel for sqlalchemy (setup.py): started
  Building wheel for sqlalchemy (setup.py): finished with status 'done'
  Created wheel for sqlalchemy: filename=sqlalchemy-1.3.9-cp312-cp312-win_amd64.whl size=1143037 sha256=3957b8fc6e74d22b2644c2ac21018d1f64bab066b6f506492b28ecc107e625bf
  Stored in directory: c:\users\nam\appdata\local\pip\cache\wheels\b3\1c\42\0e26b8d512adc6bce10ff71a05229366b4ccec641cd3b42111
Successfully built sqlalchemy
Installing collected packages: sqlalchemy
Successfully installed sqlalchemy-1.3.9

[notice] A new release of pip is available: 25.0.1 -> 25.1.1
[notice] To update, run: python.exe -m pip install --upgrade pip

### Connect to the database

Let us first load the SQL extension and establish a connection with the database

In [2]:
!pip install ipython-sql
!pip install ipython-sql prettytable

Collecting ipython-sql
  Downloading ipython_sql-0.5.0-py3-none-any.whl.metadata (17 kB)
Collecting prettytable (from ipython-sql)
  Downloading prettytable-3.16.0-py3-none-any.whl.metadata (33 kB)
Requirement already satisfied: ipython in c:\users\nam\appdata\local\programs\python\python312\lib\site-packages (from ipython-sql) (8.21.0)
Collecting sqlalchemy>=2.0 (from ipython-sql)
  Downloading sqlalchemy-2.0.41-cp312-cp312-win_amd64.whl.metadata (9.8 kB)
Collecting sqlparse (from ipython-sql)
  Downloading sqlparse-0.5.3-py3-none-any.whl.metadata (3.9 kB)
Requirement already satisfied: six in c:\users\nam\appdata\local\programs\python\python312\lib\site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: ipython-genutils in c:\users\nam\appdata\local\programs\python\python312\lib\site-packages (from ipython-sql) (0.2.0)
Collecting greenlet>=1 (from sqlalchemy>=2.0->ipython-sql)
  Downloading greenlet-3.2.3-cp312-cp312-win_amd64.whl.metadata (4.2 kB)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\nam\appdata\local\programs\python\python312\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (4.12.2)
Requirement already satisfied: decorator in c:\users\nam\appdata\local\programs\python\python312\lib\site-packages (from ipython->ipython-sql) (5.1.1)
Requirement already satisfied: jedi>=0.16 in c:\users\nam\appdata\local\programs\python\python312\lib\site-packages (from ipython->ipython-sql) (0.19.1)
Requirement already satisfied: matplotlib-inline in c:\users\nam\appdata\local\programs\python\python312\lib\site-packages (from ipython->ipython-sql) (0.1.6)
Requirement already satisfied: prompt-toolkit<3.1.0,>=3.0.41 in c:\users\nam\appdata\local\programs\python\python312\lib\site-packages (from ipython->ipython-sql) (3.0.43)
Requirement already satisfied: pygments>=2.4.0 in c:\users\nam\appdata\local\programs\python\python312\lib\site-packages (from ipython->ipython-sql) (2.17.2)
Requirement already satisfied: stack-data in c:\users\nam\appdata\local\programs\python\python312\lib\site-packages (from ipython->ipython-sql) (0.6.3)
Requirement already satisfied: traitlets>=5 in c:\users\nam\appdata\local\programs\python\python312\lib\site-packages (from ipython->ipython-sql) (5.14.1)
Requirement already satisfied: colorama in c:\users\nam\appdata\local\programs\python\python312\lib\site-packages (from ipython->ipython-sql) (0.4.6)
Requirement already satisfied: wcwidth in c:\users\nam\appdata\local\programs\python\python312\lib\site-packages (from prettytable->ipython-sql) (0.2.13)
Requirement already satisfied: parso<0.9.0,>=0.8.3 in c:\users\nam\appdata\local\programs\python\python312\lib\site-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.3)
Requirement already satisfied: executing>=1.2.0 in c:\users\nam\appdata\local\programs\python\python312\lib\site-packages (from stack-data->ipython->ipython-sql) (2.0.1)
Requirement already satisfied: asttokens>=2.1.0 in c:\users\nam\appdata\local\programs\python\python312\lib\site-packages (from stack-data->ipython->ipython-sql) (2.4.1)
Requirement already satisfied: pure-eval in c:\users\nam\appdata\local\programs\python\python312\lib\site-packages (from stack-data->ipython->ipython-sql) (0.2.2)
Downloading ipython_sql-0.5.0-py3-none-any.whl (20 kB)
Downloading sqlalchemy-2.0.41-cp312-cp312-win_amd64.whl (2.1 MB)
   ---------------------------------------- 0.0/2.1 MB ? eta -:--:--
   ---------------------------------------- 0.0/2.1 MB ? eta -:--:--
   ---------------------------------------- 0.0/2.1 MB ? eta -:--:--
   ---------------------------------------- 0.0/2.1 MB ? eta -:--:--
   ---- ----------------------------------- 0.3/2.1 MB ? eta -:--:--
   ---- ----------------------------------- 0.3/2.1 MB ? eta -:--:--
   ---- ----------------------------------- 0.3/2.1 MB ? eta -:--:--
   ---- ----------------------------------- 0.3/2.1 MB ? eta -:--:--
   ---- ----------------------------------- 0.3/2.1 MB ? eta -:--:--
   ---- ----------------------------------- 0.3/2.1 MB ? eta -:--:--
   ---- ----------------------------------- 0.3/2.1 MB ? eta -:--:--
   --------- ------------------------------ 0.5/2.1 MB 182.4 kB/s eta 0:00:09
   --------- ------------------------------ 0.5/2.1 MB 182.4 kB/s eta 0:00:09
   --------- ------------------------------ 0.5/2.1 MB 182.4 kB/s eta 0:00:09
   --------- ------------------------------ 0.5/2.1 MB 182.4 kB/s eta 0:00:09
   --------- ------------------------------ 0.5/2.1 MB 182.4 kB/s eta 0:00:09
   -------------- ------------------------- 0.8/2.1 MB 202.1 kB/s eta 0:00:07
   -------------- ------------------------- 0.8/2.1 MB 202.1 kB/s eta 0:00:07
   -------------- ------------------------- 0.8/2.1 MB 202.1 kB/s eta 0:00:07
   -------------- ------------------------- 0.8/2.1 MB 202.1 kB/s eta 0:00:07
   -------------- ------------------------- 0.8/2.1 MB 202.1 kB/s eta 0:00:07
   ------------------- -------------------- 1.0/2.1 MB 220.8 kB/s eta 0:00:05
   ------------------- -------------------- 1.0/2.1 MB 220.8 kB/s eta 0:00:05
   ------------------- -------------------- 1.0/2.1 MB 220.8 kB/s eta 0:00:05
   ------------------- -------------------- 1.0/2.1 MB 220.8 kB/s eta 0:00:05
   ------------------------ --------------- 1.3/2.1 MB 233.8 kB/s eta 0:00:04
   ------------------------ --------------- 1.3/2.1 MB 233.8 kB/s eta 0:00:04
   ------------------------ --------------- 1.3/2.1 MB 233.8 kB/s eta 0:00:04
   ------------------------ --------------- 1.3/2.1 MB 233.8 kB/s eta 0:00:04
   ------------------------ --------------- 1.3/2.1 MB 233.8 kB/s eta 0:00:04
   ------------------------ --------------- 1.3/2.1 MB 233.8 kB/s eta 0:00:04
   ------------------------ --------------- 1.3/2.1 MB 233.8 kB/s eta 0:00:04
   ------------------------ --------------- 1.3/2.1 MB 233.8 kB/s eta 0:00:04
   ------------------------ --------------- 1.3/2.1 MB 233.8 kB/s eta 0:00:04
   ----------------------------- ---------- 1.6/2.1 MB 200.7 kB/s eta 0:00:03
   ----------------------------- ---------- 1.6/2.1 MB 200.7 kB/s eta 0:00:03
   ----------------------------- ---------- 1.6/2.1 MB 200.7 kB/s eta 0:00:03
   ----------------------------- ---------- 1.6/2.1 MB 200.7 kB/s eta 0:00:03
   ----------------------------- ---------- 1.6/2.1 MB 200.7 kB/s eta 0:00:03
   ----------------------------- ---------- 1.6/2.1 MB 200.7 kB/s eta 0:00:03
   ----------------------------- ---------- 1.6/2.1 MB 200.7 kB/s eta 0:00:03
   ---------------------------------- ----- 1.8/2.1 MB 195.1 kB/s eta 0:00:02
   ---------------------------------- ----- 1.8/2.1 MB 195.1 kB/s eta 0:00:02
   ---------------------------------- ----- 1.8/2.1 MB 195.1 kB/s eta 0:00:02
   ---------------------------------- ----- 1.8/2.1 MB 195.1 kB/s eta 0:00:02
   ---------------------------------- ----- 1.8/2.1 MB 195.1 kB/s eta 0:00:02
   ---------------------------------- ----- 1.8/2.1 MB 195.1 kB/s eta 0:00:02
   ---------------------------------- ----- 1.8/2.1 MB 195.1 kB/s eta 0:00:02
   ---------------------------------- ----- 1.8/2.1 MB 195.1 kB/s eta 0:00:02
   ---------------------------------- ----- 1.8/2.1 MB 195.1 kB/s eta 0:00:02
   ---------------------------------------- 2.1/2.1 MB 187.0 kB/s eta 0:00:00
Downloading prettytable-3.16.0-py3-none-any.whl (33 kB)
Downloading sqlparse-0.5.3-py3-none-any.whl (44 kB)
Downloading greenlet-3.2.3-cp312-cp312-win_amd64.whl (297 kB)
Installing collected packages: sqlparse, prettytable, greenlet, sqlalchemy, ipython-sql
  Attempting uninstall: sqlalchemy
    Found existing installation: SQLAlchemy 1.3.9
    Uninstalling SQLAlchemy-1.3.9:
      Successfully uninstalled SQLAlchemy-1.3.9
Successfully installed greenlet-3.2.3 ipython-sql-0.5.0 prettytable-3.16.0 sqlalchemy-2.0.41 sqlparse-0.5.3

[notice] A new release of pip is available: 25.0.1 -> 25.1.1
[notice] To update, run: python.exe -m pip install --upgrade pip

Requirement already satisfied: ipython-sql in c:\users\nam\appdata\local\programs\python\python312\lib\site-packages (0.5.0)
Requirement already satisfied: prettytable in c:\users\nam\appdata\local\programs\python\python312\lib\site-packages (3.16.0)
Requirement already satisfied: ipython in c:\users\nam\appdata\local\programs\python\python312\lib\site-packages (from ipython-sql) (8.21.0)
Requirement already satisfied: sqlalchemy>=2.0 in c:\users\nam\appdata\local\programs\python\python312\lib\site-packages (from ipython-sql) (2.0.41)
Requirement already satisfied: sqlparse in c:\users\nam\appdata\local\programs\python\python312\lib\site-packages (from ipython-sql) (0.5.3)
Requirement already satisfied: six in c:\users\nam\appdata\local\programs\python\python312\lib\site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: ipython-genutils in c:\users\nam\appdata\local\programs\python\python312\lib\site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: wcwidth in c:\users\nam\appdata\local\programs\python\python312\lib\site-packages (from prettytable) (0.2.13)
Requirement already satisfied: greenlet>=1 in c:\users\nam\appdata\local\programs\python\python312\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (3.2.3)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\nam\appdata\local\programs\python\python312\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (4.12.2)
Requirement already satisfied: decorator in c:\users\nam\appdata\local\programs\python\python312\lib\site-packages (from ipython->ipython-sql) (5.1.1)
Requirement already satisfied: jedi>=0.16 in c:\users\nam\appdata\local\programs\python\python312\lib\site-packages (from ipython->ipython-sql) (0.19.1)
Requirement already satisfied: matplotlib-inline in c:\users\nam\appdata\local\programs\python\python312\lib\site-packages (from ipython->ipython-sql) (0.1.6)
Requirement already satisfied: prompt-toolkit<3.1.0,>=3.0.41 in c:\users\nam\appdata\local\programs\python\python312\lib\site-packages (from ipython->ipython-sql) (3.0.43)
Requirement already satisfied: pygments>=2.4.0 in c:\users\nam\appdata\local\programs\python\python312\lib\site-packages (from ipython->ipython-sql) (2.17.2)
Requirement already satisfied: stack-data in c:\users\nam\appdata\local\programs\python\python312\lib\site-packages (from ipython->ipython-sql) (0.6.3)
Requirement already satisfied: traitlets>=5 in c:\users\nam\appdata\local\programs\python\python312\lib\site-packages (from ipython->ipython-sql) (5.14.1)
Requirement already satisfied: colorama in c:\users\nam\appdata\local\programs\python\python312\lib\site-packages (from ipython->ipython-sql) (0.4.6)
Requirement already satisfied: parso<0.9.0,>=0.8.3 in c:\users\nam\appdata\local\programs\python\python312\lib\site-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.3)
Requirement already satisfied: executing>=1.2.0 in c:\users\nam\appdata\local\programs\python\python312\lib\site-packages (from stack-data->ipython->ipython-sql) (2.0.1)
Requirement already satisfied: asttokens>=2.1.0 in c:\users\nam\appdata\local\programs\python\python312\lib\site-packages (from stack-data->ipython->ipython-sql) (2.4.1)
Requirement already satisfied: pure-eval in c:\users\nam\appdata\local\programs\python\python312\lib\site-packages (from stack-data->ipython->ipython-sql) (0.2.2)

[notice] A new release of pip is available: 25.0.1 -> 25.1.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [3]:
%load_ext sql

In [4]:
import csv, sqlite3
import prettytable
prettytable.DEFAULT = 'DEFAULT'

con = sqlite3.connect("my_data1.db")
cur = con.cursor()

In [5]:
# !pip install -q pandas

In [6]:
%sql sqlite:///my_data1.db

In [7]:
import pandas as pd
df = pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv")
df.to_sql("SPACEXTBL", con, if_exists='replace', index=False,method="multi")

101

**Note:This below code is added to remove blank rows from table**

In [8]:
#DROP THE TABLE IF EXISTS

%sql DROP TABLE IF EXISTS SPACEXTABLE;

 * sqlite:///my_data1.db
Done.

[]

In [9]:
%sql create table SPACEXTABLE as select * from SPACEXTBL where Date is not null

 * sqlite:///my_data1.db
Done.

[]

## Tasks

Now write and execute SQL queries to solve the assignment tasks.

**Note: If the column names are in mixed case enclose it in double quotes
   For Example "Landing_Outcome"**

### Task 1




##### Display the names of the unique launch sites  in the space mission

In [12]:
%%sql
-- Task 1: Display the names of the unique launch sites in the space mission
SELECT DISTINCT "Launch_Site"
FROM SPACEXTABLE;

 * sqlite:///my_data1.db
Done.

[('CCAFS LC-40',), ('VAFB SLC-4E',), ('KSC LC-39A',), ('CCAFS SLC-40',)]


### Task 2


#####  Display 5 records where launch sites begin with the string 'CCA'

In [13]:
%%sql
-- Task 2: Display 5 records where launch sites begin with the string 'CCA'
SELECT *
FROM SPACEXTABLE
WHERE "Launch_Site" LIKE 'CCA%'
LIMIT 5;

 * sqlite:///my_data1.db
Done.

[('2010-06-04', '18:45:00', 'F9 v1.0  B0003', 'CCAFS LC-40', 'Dragon Spacecraft Qualification Unit', 0, 'LEO', 'SpaceX', 'Success', 'Failure (parachute)'),
 ('2010-12-08', '15:43:00', 'F9 v1.0  B0004', 'CCAFS LC-40', 'Dragon demo flight C1, two CubeSats, barrel of Brouere cheese', 0, 'LEO (ISS)', 'NASA (COTS) NRO', 'Success', 'Failure (parachute)'),
 ('2012-05-22', '7:44:00', 'F9 v1.0  B0005', 'CCAFS LC-40', 'Dragon demo flight C2', 525, 'LEO (ISS)', 'NASA (COTS)', 'Success', 'No attempt'),
 ('2012-10-08', '0:35:00', 'F9 v1.0  B0006', 'CCAFS LC-40', 'SpaceX CRS-1', 500, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'No attempt'),
 ('2013-03-01', '15:10:00', 'F9 v1.0  B0007', 'CCAFS LC-40', 'SpaceX CRS-2', 677, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'No attempt')]

### Task 3




##### Display the total payload mass carried by boosters launched by NASA (CRS)

In [14]:
%%sql
-- Task 3: Display the total payload mass carried by boosters launched by NASA (CRS)
SELECT SUM("Payload_Mass__kg_") AS total_payload_kg
FROM SPACEXTABLE
WHERE "Customer" = 'NASA (CRS)';

 * sqlite:///my_data1.db
Done.

[(45596,)]

### Task 4




##### Display average payload mass carried by booster version F9 v1.1

In [15]:
%%sql
-- Task 4: Display average payload mass carried by booster version F9 v1.1
SELECT AVG("Payload_Mass__kg_") AS avg_payload_kg
FROM SPACEXTABLE
WHERE "Booster_Version" = 'F9 v1.1';

 * sqlite:///my_data1.db
Done.

[(2928.4,)]

### Task 5

##### List the date when the first succesful landing outcome in ground pad was acheived.


_Hint:Use min function_

In [16]:
%%sql
-- Task 5: List the date when the first successful landing outcome in ground pad was achieved
SELECT MIN("Date") AS first_success_ground_pad
FROM SPACEXTABLE
WHERE "Landing_Outcome" = 'Success (ground pad)';

 * sqlite:///my_data1.db
Done.

[('2015-12-22',)]

### Task 6

##### List the names of the boosters which have success in drone ship and have payload mass greater than 4000 but less than 6000

In [17]:
%%sql
-- Task 6: List the names of the boosters which have success in drone ship 
--         and have payload mass >4000 but <6000
SELECT DISTINCT "Booster_Version"
FROM SPACEXTABLE
WHERE "Landing_Outcome" = 'Success (drone ship)'
  AND "Payload_Mass__kg_"  > 4000
  AND "Payload_Mass__kg_"  < 6000;

 * sqlite:///my_data1.db
Done.

[('F9 FT B1022',), ('F9 FT B1026',), ('F9 FT  B1021.2',), ('F9 FT  B1031.2',)]

### Task 7




##### List the total number of successful and failure mission outcomes

In [18]:
%%sql
-- Task 7: List the total number of successful and failure mission outcomes
SELECT
  "Mission_Outcome",
  COUNT(*) AS outcome_count
FROM SPACEXTABLE
GROUP BY "Mission_Outcome";

 * sqlite:///my_data1.db
Done.

[('Failure (in flight)', 1),
 ('Success', 98),
 ('Success ', 1),
 ('Success (payload status unclear)', 1)]

### Task 8



##### List all the booster_versions that have carried the maximum payload mass, using a subquery with a suitable aggregate function.

In [19]:
%%sql
-- Task 8: List all booster_versions that have carried the maximum payload mass
SELECT DISTINCT
  "Booster_Version"
FROM SPACEXTABLE
WHERE "Payload_Mass__kg_" = (
  SELECT MAX("Payload_Mass__kg_")
  FROM SPACEXTABLE
);

 * sqlite:///my_data1.db
Done.

[('F9 B5 B1048.4',),
 ('F9 B5 B1049.4',),
 ('F9 B5 B1051.3',),
 ('F9 B5 B1056.4',),
 ('F9 B5 B1048.5',),
 ('F9 B5 B1051.4',),
 ('F9 B5 B1049.5',),
 ('F9 B5 B1060.2 ',),
 ('F9 B5 B1058.3 ',),
 ('F9 B5 B1051.6',),
 ('F9 B5 B1060.3',),
 ('F9 B5 B1049.7 ',)]

### Task 9


##### List the records which will display the month names, failure landing_outcomes in drone ship ,booster versions, launch_site for the months in year 2015.

**Note: SQLLite does not support monthnames. So you need to use  substr(Date, 6,2) as month to get the months and substr(Date,0,5)='2015' for year.**

In [20]:
%%sql
-- Task 9: For year 2015, show month name, failure (drone ship) landing outcomes,
--         booster version and launch site
SELECT
  CASE substr("Date",6,2)
    WHEN '01' THEN 'January'   WHEN '02' THEN 'February'
    WHEN '03' THEN 'March'     WHEN '04' THEN 'April'
    WHEN '05' THEN 'May'       WHEN '06' THEN 'June'
    WHEN '07' THEN 'July'      WHEN '08' THEN 'August'
    WHEN '09' THEN 'September' WHEN '10' THEN 'October'
    WHEN '11' THEN 'November'  WHEN '12' THEN 'December'
  END AS month_name,
  "Landing_Outcome",
  "Booster_Version",
  "Launch_Site"
FROM SPACEXTABLE
WHERE "Landing_Outcome" = 'Failure (drone ship)'
  AND substr("Date",1,4) = '2015';

 * sqlite:///my_data1.db
Done.

[('January', 'Failure (drone ship)', 'F9 v1.1 B1012', 'CCAFS LC-40'),
 ('April', 'Failure (drone ship)', 'F9 v1.1 B1015', 'CCAFS LC-40')]

### Task 10




##### Rank the count of landing outcomes (such as Failure (drone ship) or Success (ground pad)) between the date 2010-06-04 and 2017-03-20, in descending order.

In [21]:
%%sql
-- Task 10: Count of each landing outcome between 2010-06-04 and 2017-03-20, ranked descending
SELECT
  "Landing_Outcome",
  COUNT(*) AS outcome_count
FROM SPACEXTABLE
WHERE "Date" BETWEEN '2010-06-04' AND '2017-03-20'
GROUP BY "Landing_Outcome"
ORDER BY outcome_count DESC;

 * sqlite:///my_data1.db
Done.

[('No attempt', 10),
 ('Success (drone ship)', 5),
 ('Failure (drone ship)', 5),
 ('Success (ground pad)', 3),
 ('Controlled (ocean)', 3),
 ('Uncontrolled (ocean)', 2),
 ('Failure (parachute)', 2),
 ('Precluded (drone ship)', 1)]

### Reference Links

* <a href ="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20String%20Patterns%20-%20Sorting%20-%20Grouping/instructional-labs.md.html?origin=www.coursera.org">Hands-on Lab : String Patterns, Sorting and Grouping</a>  

*  <a  href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Built-in%20functions%20/Hands-on_Lab__Built-in_Functions.md.html?origin=www.coursera.org">Hands-on Lab: Built-in functions</a>

*  <a  href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Sub-queries%20and%20Nested%20SELECTs%20/instructional-labs.md.html?origin=www.coursera.org">Hands-on Lab : Sub-queries and Nested SELECT Statements</a>

*   <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%205/DB0201EN-Week3-1-3-SQLmagic.ipynb">Hands-on Tutorial: Accessing Databases with SQL magic</a>

*  <a href= "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%205/DB0201EN-Week3-1-4-Analyzing.ipynb">Hands-on Lab: Analyzing a real World Data Set</a>

## Author(s)

<h4> Lakshmi Holla </h4>

## Other Contributors

<h4> Rav Ahuja </h4>

<!--
## Change log
| Date | Version | Changed by | Change Description |
|------|--------|--------|---------|
| 2024-07-10 | 1.1 |Anita Verma | Changed Version|
| 2021-07-09 | 0.2 |Lakshmi Holla | Changes made in magic sql|
| 2021-05-20 | 0.1 |Lakshmi Holla | Created Initial Version |
-->

## <h3 align="center">  IBM Corporation 2021. All rights reserved. <h3/>